{%extends 'theme.html'%}

{%block content%}
<style>
    body{
        background-image: url('static/images/signinbg.jpg');
        background-size: 100% 100%;
        
    }
</style>
<div class="container d-flex justify-content-center">
    
    <form action="" method="post">
        <h3>Sign In</h3>
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Login</button>
        <div>
            <label for="">New Account?</label> <a href="{%url 'signup'%}">Register</a>
        </div>
    </form>
</div>

{%endblock%}